<nav class="nav nav-pills justify-content-center my-nav">
  <a class="nav-link" href="/">🏠 Home</a>
  <a class="nav-link" href="/dishes">🍽️ Dishes</a>
  <a class="nav-link" href="/orders">🧾 Orders</a>
  <a class="nav-link" href="/users">👥 Users</a>
  <a class="nav-link" href="/gallery">🖼️ Menu</a>
</nav>
